body {
    font-family: Verdana;
    background-color: lightgrey;
    margin-top: 75px;
    border:2px dashed red;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

